{% extends 'base.html' %}

{% block title %}Create note{% endblock %}

{% load notes_custom_filters %}
{% block content %}
<div class="card contact-form-container mt-4 shadow">

    <h1 class="m-2">Create note</h1>


    <div class="card-body">
        {% if messages %}
        <div class="container mt-3">
            {% for message in messages %}
                <div id="success-message" class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <form method="POST" class="p-4 rounded" id="noteForm">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_title">{{ form.title.label }}</label>
                {{ form.title|add_class:"form-control" }}
            </div>
            
            <div class="form-group">
                <label for="id_content">{{ form.content.label }}</label>
                {{ form.content|add_attrs:"form-control,3" }}
            </div>
        
            <div class="form-group">
                <label for="id_tags" class="d-flex align-items-center">
                    Tags:
                    <div id="selected-tags" class="d-flex flex-wrap ms-2"></div> 
                </label>
                <div class="d-flex flex-wrap" id="tag-container">
                    {% for tag in tags %}
                        <div class="me-2 mb-2">
                            <input type="checkbox" class="d-none" id="tag{{ tag.id }}" name="tags" value="{{ tag.id }}" onchange="updateTagStyle(this)">
                            <label class="btn btn-outline-secondary tag-label" for="tag{{ tag.id }}" style="background-color: #6FBDA2; color: #3D6657; padding: 5px 10px; border-radius: 5px; transition: background-color 0.2s;">
                                {{ tag.name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="form-group">
                <label for="newTagName">Add new tag:</label>
                <input type="text" id="newTagName" class="form-control mt-2" placeholder="Enter new tag's name">
                <button type="button" class="btn btn-primary mt-2" id="createTagButton">Create</button>
            </div>
        
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" style="flex: 1; background-color: #097812; margin-right: 10px; padding: 6px 12px; margin-top: 8px;">Save note</button>
                <a href="{% url 'note_list' %}" class="btn btn-block" style="flex: 1; background-color: #3D6657; border-color: #40886E; color: #fff; padding: 6px 12px; margin-top: 8px;">Back to list</a>
            </div>
        </form>

        <form method="POST" action="{% url 'add_tag' %}" id="addTagForm" style="display:none;">
            {% csrf_token %}
            <input type="hidden" name="name" id="hiddenTagName">
        </form>
    </div>
</div>

<script>
    function updateTagStyle(checkbox) {
        const label = document.querySelector(`label[for="${checkbox.id}"]`);
        const selectedTagsContainer = document.getElementById('selected-tags');

        if (checkbox.checked) {
            label.style.backgroundColor = '#3D6657';
            label.style.color = '#E2B29B';

            const badge = document.createElement('span');
            badge.className = 'badge me-2 ml-1';
            badge.textContent = label.textContent;
            badge.style.backgroundColor = '#3D6657';

            selectedTagsContainer.appendChild(badge);
        } else {
            label.style.backgroundColor = '#6FBDA2';
            label.style.color = '#3D6657';

            const badgeToRemove = Array.from(selectedTagsContainer.children).find(badge => badge.textContent === label.textContent);
            if (badgeToRemove) {
                badgeToRemove.remove();
            }
        }
    }

    document.getElementById('createTagButton').addEventListener('click', function(event) {
        event.preventDefault();
        const newTagName = document.getElementById('newTagName').value.trim();
        if (newTagName) {
            const addTagForm = document.getElementById('addTagForm');
            if (addTagForm) {
                document.getElementById('hiddenTagName').value = newTagName;
                addTagForm.submit();
            } else {
                console.error('Форма addTagForm не найдена.');
            }
        }
    });

    document.addEventListener('DOMContentLoaded', function() {
        var successMessage = document.getElementById('success-message');
        if (successMessage) {
            setTimeout(function() {
                successMessage.style.display = 'none';
            }, 3000);
        }
    });
</script>

<style>
    .tag-label:hover {
        background-color: #40886E;
        color: white;
    }
</style>
{% endblock %}
