{% extends 'base.html' %}

{% block title %}Головна сторінка контактів{% endblock %}

{% block content %}
<div class="card contact-form-container" style="text-align: center;">
    <h1 class="mb-4 card">Книга контактів</h1>
    <div class="list-group">
        <a href="{% url 'contact_list' %}" class="list-group-item list-group-item-action">Список контактів</a>
        <a href="{% url 'add_contact' %}" class="list-group-item list-group-item-action">Додати контакт</a>
        <a href="{% url 'upcoming_birthdays' %}" class="list-group-item list-group-item-action">Найближчі дні народження</a>
        <a href="{% url 'contact_search' %}" class="list-group-item list-group-item-action">Пошук контактів</a>
    </div>
</div>
{% endblock %}
