{% extends 'base.html' %}

{% block title %}Contact list{% endblock %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/contacts_list.css' %}">

{% block content %}
    <div class="container">
        <h1 class="mb-4 card text-center">Contact Book</h1>
        <!-- <h1 class="mb-4 text-center" style="color: #E2B29B;">Contact Book</h1> -->

        <div class="card mb-4" style="background-color: #40886E; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
            <form method="GET" class="p-3">
                <input type="text" name="search" placeholder="Search by name, email or phone number..." class="form-control form-control-search" value="{{ request.GET.search }}">
                <button type="submit" class="btn btn-search mt-2">Search</button>
                {% if request.GET.search %}
                <a href="{% url 'contact_list' %}" class="btn btn-search mt-2">Clear</button>
                {% endif %}
            </form>
            <a href="{% url 'add_contact' %}" class="btn btn-search mt-2" style="width: 100%">Add contact</a>
            <a href="{% url 'upcoming_birthdays' %}" class="btn btn-search mt-2" style="width: 100%">Upcoming birthdays</a>

        </div>

        <div class="card" style="background-color: #40886E; border-radius: 10px; box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);">
            <ul class="list-group list-group-flush">
                {% for contact in contacts %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="{% url 'contact_detail' contact.id %}" class="contact-name">{{ contact.name }}</a>
                        <div>
                            <a href="{% url 'edit_contact' contact.id %}" class="btn btn-warning btn-sm btn-custom">Edit 🖊</a>
                            <a href="{% url 'delete_contact' contact.id %}" class="btn btn-danger btn-sm btn-danger-custom" onclick="return confirmDelete();">Delete 🗑</a>
                        </div>
                    </li>
                {% empty %}
                    <li class="list-group-item" style="background-color: #3D6657; color: #E2B29B;">No contacts</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Пагинация -->
        {% if contacts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if contacts.has_previous %}
                    <a href="?page=1">&laquo; First</a>
                    <a href="?page={{ contacts.previous_page_number }}">Back</a>
                {% endif %}

                <span class="current">
                    Page {{ contacts.number }} of {{ contacts.paginator.num_pages }}.
                </span>

                {% if contacts.has_next %}
                    <a href="?page={{ contacts.next_page_number }}">Next</a>
                    <a href="?page={{ contacts.paginator.num_pages }}">Last &raquo;</a>
                {% endif %}
            </span>
        </div>
        {% endif %}
    </div>
    <script>
        function confirmDelete() {
            return confirm("Are you sure you want to delete contact {{ contact.name }}?");
        }
    </script>
        
{% endblock %}
