{% extends 'base.html' %}

{% block title %}Скидання паролю{% endblock %}

{% block content %}
<div class="card" style="background-color: #3D6657; color: #E2B29B;">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h2 class="text-center">Скидання паролю</h2>
    </div>
    <div class="card-body text-center">
        <p>Ми відправили інструкції для скидання паролю на Вашу пошту.</p>
        <p>Будь ласка, перевірте свою електронну пошту.</p>
    </div>
</div>
{% endblock %}
