{% extends "base.html" %}

{% block content %}
<div class="card" style="background-color: #3D6657; color: #E2B29B;">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h2 class="text-center">Password changed successfully</h2>
    </div>
    <div class="card-body text-center">
        <p>Your password has been successfully updated.</p>
        <a href="{% url 'users:login' %}" class="btn btn-primary" style="background-color: #6FBDA2; border: none;">Log In</a>
    </div>
</div>
{% endblock %}
