{% extends 'base.html' %}

{% block title %}Скидання паролю{% endblock %}

{% load static %}
{% load custom_filters %}

{% block content %}
<div class="card" style="background-color: #3D6657; color: #E2B29B;">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h2 class="text-center">Скинути пароль</h2>
    </div>
    <div class="card-body">
        {% if messages %}
            <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826;">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email" style="color: #E2B29B;">Ваша пошта:</label>
                {{ form.email|add_class:"form-control" }}

                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826;">
                        {% for error in form.email.errors %}
                            {{ error|striptags }}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: #6FBDA2; border: none;">Запит на скидання</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
