{% extends 'base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="card" style="background-color: #3D6657; color: #E2B29B;">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h2 class="text-center">Change Your Password Here</h2>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}" style="color: #E2B29B;">New password:</label>
                <div>{{ form.new_password1 }}</div>
                {% if form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                        {{ form.new_password1.errors|striptags  }}
                    </div>
                {% endif %}
        </div>
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}" style="color: #E2B29B;">Confirmation password:</label>
                <div>{{ form.new_password2 }}</div>
                {% if form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                        {{ form.new_password2.errors|striptags  }}
                    </div>
                {% endif %}            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: #6FBDA2; border: none;">Save new password</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
