{% extends 'base.html' %}

{% load static %}
{% load custom_filters %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<div class="card" style="background-color: #3D6657; color: #E2B29B;">
    <div class="card-header" style="background-color: #155840; color: #E2B29B;">
        <h2 class="text-center">Реєстрація</h2>
    </div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {{ form.username.label_tag }}
                {{ form.username|add_class:"form-control" }}
                {% if form.username.errors %}
                    <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                        {{ form.username.errors|striptags  }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.email.label_tag }}
                {{ form.email|add_class:"form-control" }}
                {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                        {{ form.email.errors|striptags }}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.password1.label_tag }}
                {{ form.password1|add_class:"form-control" }}
                {% if form.password1.errors %}
                    {% for error in form.password1.errors %}
                        <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                            {{ error|striptags }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                {{ form.password2.label_tag }}
                {{ form.password2|add_class:"form-control" }}
                {% if form.password2.errors %}
                    {% for error in form.password2.errors %}
                        <div class="alert alert-danger" role="alert" style="background-color: #D9534F !important; color: #662826; border-color: #75262385;">
                            {{ error|striptags }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary" style="background-color: #6FBDA2; border: none;">Зареєструватися</button>
            </div>
            <div class="form-group text-center">
                <p>Вже маєте акаунт? <a href="{% url 'users:login' %}" style="color: #E2B29B;">Увійти</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
